.title{
    font-size: 20px;
    font-weight: 600;
}


.passed{
    font-weight: 600;
    color: green;
}

.failed{
    font-weight: 300;
    color: red;
}



html{
    background-color: #efeaf7;
    font-family: sans-serif;
    font-size: 14px;
    margin: 1% 22%;

}

.header{
    background-color: #ffffff;
    padding: 1% 4% 2%;
    border-radius: 10px;
    border: 1px #d3d3d3 solid;
    border-top: 9px #673ab6 solid;
}

.account-email{
    font-weight: 600;
    color: #6a6a6a;
}

.account-email,
.switch-account,
.icon,
.description{
    font-size: 0.9rem;
}

.warning, .required-icon{
    color: #d10000;
}

.icon{
    cursor: pointer;
}

.container{
    border: 1px #ccc solid;
    padding: 10px;
    margin: 20px 0px;
}
.box{
    background-color: green;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 4px;
}

.account{
    display: flex;
}

.switch-account{
    flex-grow: 1;
    padding-left: 2%;
}

.question{
    background-color: #ffffff;
    padding: 2% 4% 2%;
    border-radius: 10px;
    border: 1px #d3d3d3 solid;
    margin-top: 1%;
}

.title{
    font-size: 1.3rem;
    padding-bottom: 1%;
}

input, select{
    padding: 1% 2%;
    border: 1px #ccc solid;
    border-radius: 4px;
    width: 50%; 
    box-sizing: border-box;
}


.action{
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
}

.button{
    padding: 1.5% 2.5%;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 600;
}

.disabled-button{
    background-color: #baa4de !important;
}

.submit{
    background-color: #673ab5;
    color: white;
}




.reset{
    background-color: unset;
    color: #673ab5;
}

.reset:hover{
    background-color: #eae7f8;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1%;
}

.company-logo{
    font-size: 0.9rem;
    color: #747474;
}

.logo{
    font-size: 1.4rem;
    font-weight: 600;
    color: #4c4c4c;
}

.required-input-warning{
    border-color:#d10000;
}

.invalid-input-message{
    font-size: 0.9rem;
    padding: 1%;
    color: #d10000;
}


@media (max-width: 600px){

   
    input, select {
        width: 100%;
        padding: 4% 5%;
    }

    .button{
        padding: 2.5% 6.5%;
        font-size: 1rem;
    }
}

/* ctrl + k , s   save all files*/