<!-- <div class="title">
  Title : {{title}}
</div>

<div class="title">
  Number : {{num}}
</div>
<div class="title">
  Boolean : {{bool}}
</div>
<div class="title">
  Array : {{arr}}
</div> -->

<!-- structural directives : NgIf, NgFor, NgSwitch -->
<!-- Attribute directives : NgClass, NgStyle -->

<!-- <div class="title">Before Angular 17</div>
<div appRandomColor *ngFor="let student of students; index as i">
  <span>{{i + 1}}. </span>
  <span style="margin-right: 5px" [ngClass]="{'passed': student.mark > 50, 'failed': student.mark <= 50 }">{{student.name}}</span>
  <span style="margin-right: 5px" [ngStyle]="{'color': student.mark > 50 ? 'green' : 'red', 'font-size': student.mark > 50 ? '15px' : '13px' }">{{student.mark}}%</span>
  <span *ngIf="student.mark > 50">Passed</span>
  <span *ngIf="student.mark <= 50">Failed</span>
</div>

<br>
<br>
<br>
<br> -->

<!-- <div class="title">After Angular 17</div>
@for(student of students; track student; let i = $index){
<div>
  <span>{{i + 1}}. </span>
  <span style="margin-right: 5px" [class]="student.mark > 50? 'passed' : 'failed'">{{student.name}}</span>
  <span style="margin-right: 5px" [style]="{'color' : student.mark > 50? 'green' : 'red'}">{{student.mark}}%</span>
  @if(student.mark > 50){
    <span>Passed</span>
  }
  @else{
    <span>Failed</span>
  }
  
</div>
} -->
<!-- [class.passed]="student.mark > 50" [class.failed]="student.mark <= 50" -->

<!-- [style.color]="student.mark > 50 ? 'green' : 'red'" -->

<!-- <div style="margin: 40px;">

        <img width="50%" height="50%" id="image"
          [src]="images[currentIndex]"
          alt="random-image">
                
          <br>
        <button type="button" id="previous" [disabled]="currentIndex === 0" (click)="previous()">Previous</button>
        <button type="button" id="next" [disabled]="currentIndex === images.length - 1" (click)="next()">Next</button>
 </div> -->

<!-- Two way data binding  -->
<!-- <div style="margin:40px">
  <form [formGroup]="form">
    <input type="text" formControlName="name">
  
  </form>
</div> -->

<!-- <input type="text" formControlName="email">
    <input type="text" formControlName="phone"> -->
<!-- 
<div class="title">
  {{form.value.name}}
</div> -->


<div class="title">
  Price : {{price | currency:'EUR'}}
</div>

<div class="title">
  Creation Date : {{creationDate | date:'dd-MM-yyyy hh:mm'}}
</div>

<div class="title">
  LowerCase : {{'Angular' | lowercase}}
</div>
<div class="title">
  UpperCase : {{'Angular' | uppercase}}
</div>

<div class="title">
  Name In Reverse : {{name | reverse}}
</div>

<div class="header">
  <h2>Select And Submit To Join One Of
    Our Courses</h2>
  <div class="content">
    <div class="account">
      <span class="account-email">q.irshaid@gmail.com</span>

      <span class="switch-account">
        <a href="https://myaccount.google.com/" target="_blank">Switch
          Account</a>
      </span>

      <span class="icon">
        <i class="fa-solid fa-cloud-arrow-up"></i>
      </span>
    </div>
    <p class="description" id="description">
      The name, email address and photo associated with your
      Google Account will be recorded when you upload files and
      submit this form
    </p>
  </div>
  <p class="warning">
    * Indicates required question
  </p>
</div>
<form [formGroup]="form">
  <div class="question">
    <div class="title">
      <label for="email">
        Email<span class="required-icon">*</span>
      </label>
    </div>
    <div class="question-input">
      <input id="email" type="email" formControlName="email"
        [class.required-input-warning]="form.get('email')?.invalid && form.get('email')?.touched"
        placeholder="Your Email Address">

      @if(form.get('email')?.invalid && form.get('email')?.touched){
      @if(form.get('email')?.errors?.['required']){
      <div class="invalid-input-message">
        * Email is required
      </div>
      }

      @else if(form.get('email')?.errors?.['email']){
      <div class="invalid-input-message">
        * Invalid Email
      </div>
      }
      }

    </div>
  </div>
  <div class="question">
    <div class="title">
      <label for="name">
        Name<span class="required-icon">*</span>
      </label>
    </div>
    <div class="question-input">
      <input id="name" type="text" placeholder="Your Name"
        formControlName="name"
        [class.required-input-warning]="form.get('name')?.invalid && form.get('name')?.touched">

      @if(form.get('name')?.invalid && form.get('name')?.touched){
        @if(form.get('name')?.errors?.['required']){
        <div class="invalid-input-message">
         * Name is required
        </div>
        }
      }
    </div>
  </div>
  <div class="question">
    <div class="title">
      <label for="number">
        Phone Number<span class="required-icon">*</span>
      </label>
    </div>
    <div class="question-input">
      <input id="number" type="text" formControlName="phone"
        placeholder="Your Phone Number"
        [class.required-input-warning]="form.get('phone')?.invalid && form.get('phone')?.touched">
      @if(form.get('phone')?.invalid && form.get('phone')?.touched){
      @if(form.get('phone')?.errors?.['required']){
      <div class="invalid-input-message">
        * phone is required
      </div>
      }
      @else if(form.get('phone')?.errors?.['minlength']){
      <div class="invalid-input-message">
        * Phone number must be at least 9 digits
      </div>
      }
      @else if(form.get('phone')?.errors?.['maxlength']){
      <div class="invalid-input-message">
        * Phone number cannot be more than 10 digits
      </div>
      }

      }
    </div>
  </div>
  <div class="question">
    <div class="title">
      <label for="course">
        Course<span class="required-icon">*</span>
      </label>
    </div>
    <div class="question-input">
      <select id="course" formControlName="course" [class.required-input-warning]="form.get('course')?.invalid && form.get('course')?.touched">
        @for(course of courses; track course){
        <option [value]="course.id">{{course.name}}</option>
        }
      </select>
      @if(form.get('course')?.invalid && form.get('course')?.touched){
        @if(form.get('course')?.errors?.['required']){
        <div class="invalid-input-message">
         * Course is required
        </div>
        }
      }
    </div>
  </div>

  <div class="action">
    <button type="button" class="submit button"
      [class.disabled-button]="!form.valid"
      [disabled]="!form.valid" (click)="submit()">Submit</button>
    <button type="button" class="reset button" (click)="reset()">Clear
      Form</button>
  </div>
</form>

<div class="footer">
  <p class="copy-right">This form was created inside Princess Sumaya
    University for
    Technology.
    Does this form look suspicious?
    <a href>Report</a>
  </p>
  <p class="logo">
    Google Forms
  </p>
</div>




