<!-- <div class="title">
  Title : {{title}}
</div>

<div class="title">
  Number : {{num}}
</div>
<div class="title">
  Boolean : {{bool}}
</div>
<div class="title">
  Array : {{arr}}
</div> -->

<!-- structural directives : NgIf, NgFor, NgSwitch -->
<!-- Attribute directives : NgClass, NgStyle -->

<div class="title">Before Angular 17</div>
<div *ngFor="let student of students; index as i">
  <span>{{i + 1}}. </span>
  <span style="margin-right: 5px" [ngClass]="{'passed': student.mark > 50, 'failed': student.mark <= 50 }">{{student.name}}</span>
  <span style="margin-right: 5px" [ngStyle]="{'color': student.mark > 50 ? 'green' : 'red', 'font-size': student.mark > 50 ? '15px' : '13px' }">{{student.mark}}%</span>
  <span *ngIf="student.mark > 50">Passed</span>
  <span *ngIf="student.mark <= 50">Failed</span>
</div>

<br>
<br>
<br>
<br>

<div class="title">After Angular 17</div>
@for(student of students; track student; let i = $index){
<div>
  <span>{{i + 1}}. </span>
  <span style="margin-right: 5px">{{student.name}}</span>
  <span style="margin-right: 5px">{{student.mark}}%</span>
  @if(student.mark > 50){
    <span>Passed</span>
  }
  @else{
    <span>Failed</span>
  }
  
</div>
}