/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */


html{
    background-color: #efeaf7;
    font-family: sans-serif;
    font-size: 14px;
    margin: 1% 22%;

}


@media (max-width: 600px){
     html{
        /* background-color: yellow; */
        font-size: 12px;
        margin: 1% 4%;
    }

}