<div class="container-fluid">

    <div class="card">
        <div class="card-header">
            <h5>
                <i class="bi bi-funnel-fill"></i>
                Filter
            </h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <label for="employeeName"
                        class="form-label">Employee Name</label>
                    <input type="text" class="form-control"
                        id="employeeName"
                        placeholder="Name">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <label for="employeePosition"
                        class="form-label">Employee Position</label>
                    <input type="text" class="form-control"
                        id="employeePosition"
                        placeholder="Position">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <label for="employeeStatus"
                        class="form-label">Employee Status</label>
                    <input type="text" class="form-control"
                        id="employeeStatus"
                        placeholder="Status">
                </div>
            </div>

            <div class="text-end mt-2">
                <button type="button" class="btn btn-outline-secondary" (click)="loadEmployees()">
                    <i class="bi bi-search"></i> 
                    <span> Search</span>
                </button>
            </div>
        </div>
    </div>

    <div class="card mt-2">
        <div class="card-header table-header">
            <div class="table-title">
                <h5>Employees</h5>
            </div>
            <div>
                <button type="button" class="btn btn-outline-secondary" (click)="clearEmployeeForm()"
                 data-bs-toggle="modal" data-bs-target="#saveEmployeeModal">
                    <i class="bi bi-person-plus-fill"></i>
                    <span> Add</span>
                </button>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        @for(col of employeesTableColumns; track col){
                            <th>{{col}}</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @for(employee of employees | paginate : paginationConfig ; track employee; let i = $index){
                        <tr>
                            <td>{{i + 1}}</td>
                            <td>{{employee.name}}</td>
                            <td>{{employee.phone}}</td>
                            <td>{{employee.birthdate | date:"dd/MM/yyyy"}}</td>
                            @if(employee.isActive){
                                <td>
                                    <span class="badge text-bg-success">Active</span>
                                </td>
                            }
                            @else {
                                <td>
                                    <span class="badge text-bg-danger">Inactive</span>
                                </td>
                            }
                            <td>{{employee.startDate | date:"dd/MM/yyyy"}}</td>
                            <td>{{employee.positionName}}</td>
                            <td>{{employee.departmentName}}</td>
                            <td>{{employee.managerName}}</td>
                            <td>
                                <button (click)="editEmployee(employee.id)" data-bs-toggle="modal" data-bs-target="#saveEmployeeModal"
                                    type="button" class="btn btn-outline-success ms-2 me-2">
                                    <i class="bi bi-pencil-fill"></i>
                                </button>

                                <button (click)="showConfirmDialog(employee.id)"  type="button" class="btn btn-outline-danger mx-2">
                                    <i class="bi bi-trash-fill"></i>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <!-- Component -->
            <pagination-controls class="text-end" (pageChange)="changePage($event)"></pagination-controls>
        </div>
    </div>
</div>


<div class="modal modal-lg fade" id="saveEmployeeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Save Employee</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="employeeForm">
            <div class="row align-end">
                <div class="col-lg-4 col-md-4 col-sm-12 mb-2">
                    <label for="nameControl" class="form-label">Name</label>
                    <input type="text" class="form-control" id="nameControl" formControlName="Name"
                     placeholder="Name" [class.invalid-input]="employeeForm.get('Name')?.invalid && employeeForm.get('Name')?.touched">
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 mb-2">
                    <label for="phoneControl" class="form-label">Phone</label>
                    <input type="text" class="form-control" id="phoneControl" formControlName="Phone"
                     placeholder="Phone" [class.invalid-input]="employeeForm.get('Phone')?.invalid && employeeForm.get('Phone')?.touched">
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 mb-2">
                    <label for="startDateControl" class="form-label">Start Date</label>
                    <input type="date" class="form-control" id="startDateControl" formControlName="StartDate"
                     placeholder="Start Date" [class.invalid-input]="employeeForm.get('StartDate')?.invalid && employeeForm.get('StartDate')?.touched">
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 mb-2">
                    <label for="birthDateControl" class="form-label">Birthdate</label>
                    <input type="date" class="form-control" id="birthDateControl" formControlName="Birthdate"
                     placeholder="Birthdate" [class.invalid-input]="employeeForm.get('Birthdate')?.invalid && employeeForm.get('Birthdate')?.touched">
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 mb-2">
                    <label for="positionsControl" class="form-label">Position</label>
                    <select class="form-select" aria-label="Default select example"
                     id="positionsControl" formControlName="Position" [class.invalid-input]="employeeForm.get('Position')?.invalid && employeeForm.get('Position')?.touched">
                        @for(item of positions; track item){
                            <option [value]="item.id">{{item.name}}</option>
                        }
                    </select>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12">
                    <label for="departmentsControl" class="form-label">Department</label>
                    <select class="form-select" aria-label="Default select example"
                     id="departmentsControl" formControlName="Department" [class.invalid-input]="employeeForm.get('Department')?.invalid && employeeForm.get('Department')?.touched">
                        @for(item of departments; track item){
                            <option [value]="item.id">{{item.name}}</option>
                        }
                    </select>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12">
                    <label for="managersControl" class="form-label">Manager</label>
                    <select class="form-select" aria-label="Default select example" id="managersControl" formControlName="Manager">
                        @for(item of managers; track item){
                            <option [value]="item.id">{{item.name}}</option>
                        }
                    </select>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox"
                        role="switch" id="isActiveControl" formControlName="IsActive">
                        <label class="form-check-label" for="isActiveControl">Is Active</label>
                    </div>
                </div>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" #closeButton>Close</button>
        <button type="button" class="btn btn-primary" [disabled]="!employeeForm.valid" (click)="saveEmployee()">Save changes</button>
      </div>
    </div>
  </div>
</div>

@if(showConfirmationDialog){
    <app-confirmation-dialog [title]="deleteDialogTitle" [body]="deleteDialogBody"
     (confirm)="confrimEmployeeDelete($event)">
    </app-confirmation-dialog>
}
