<div class="container-fluid">

    <div class="card">
        <div class="card-header">
            <h5>Filter</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <label for="employeeName"
                        class="form-label">Employee Name</label>
                    <input type="text" class="form-control"
                        id="employeeName"
                        placeholder="Name">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <label for="employeePosition"
                        class="form-label">Employee Position</label>
                    <input type="text" class="form-control"
                        id="employeePosition"
                        placeholder="Position">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <label for="employeeStatus"
                        class="form-label">Employee Status</label>
                    <input type="text" class="form-control"
                        id="employeeStatus"
                        placeholder="Status">
                </div>
            </div>

            <div class="text-end mt-2">
                <button type="button" class="btn btn-secondary">Search</button>
            </div>
        </div>
    </div>

    <div class="card mt-2">
        <div class="card-header table-header">
            <div class="table-title">
                <h5>Employees</h5>
            </div>
            <div>
                <button type="button" class="btn btn-secondary">Add</button>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>John</td>
                        <td>Doe</td>
                        <td>@social</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>